:root {
  --background: black;
  --foreground: #ededed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

/* Contact */
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.top-contact {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 30%;
  margin: 0 auto;
}

.form-child {
  padding-top: 5%;
}

.contact-button {
  padding-top: 5%;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 600px) {
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.top-contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  margin: 0 auto;
}

.form-child {
  padding-top: 5%;
}

.contact-button {
  padding-top: 5%;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
}


/* header */
.header-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  padding-top: 38px;
  /* height: 50px; */
  /* border: 1px solid red; */
  margin-bottom: 1%;

}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.header-links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  /* background-color: #f8f8f8; */
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
}

.link-header {
  font-size: 16px;
  text-decoration: none;
  color: #b3b2b2;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.activeLink {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

@media (max-width: 600px) {
  .header-container {
    height: 125px;
    margin-bottom: 5%;
  }

  .header-links {
    padding-top: 8%;
    width: 90%;
  }

  .link-header {
    font-size: 12px;
  }
}

/* TOP HEADER */
.footer-container {
  background-color: white;
  width: 100%;
  height: 38px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* align-items: center; */
  transition: transform 0.3s ease-in-out;
}
.topheader-cont {
  width: 60%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
}

.topheader-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid orange; */
  color: black;
  align-items: center;
  font-size: 14px;
  width: 85%;
}

.topheader-right {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
}

.top-icon-labels {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}

@media (max-width: 600px) {
  .footer-container {
  background-color: white;
  width: 100%;
  height: 64px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* align-items: center; */
  transition: transform 0.3s ease-in-out;
}
.topheader-cont {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
}

.topheader-left {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  /* border: 1px solid orange; */
  color: black;
  align-items: flex-start;
  font-size: 12px;
  width: 85%;
}

.topheader-right {
  width: 15%;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  height: 64px;
  align-items: center;
  /* align-content: center; */
  /* border: 1px solid red; */
}

.top-icon-labels {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}
}

.footer-child {
  /* padding-top: 5%; */
}

/* disclosures */
.disc-container {
  width: 90%;
  color: white;
  margin: 0 auto;
  padding-top: 5%;
  background-color: black;
}

.transition-image {
  width: 50px;
  height: 20px;
}

.svg-logo {
  color: black;
}

.ptc {
  font-size: 22px;
}

.ptc-2 {
  font-size: 22px;
  padding-top: 2%;
}

@media (max-width: 600px) {
  .ptc-2 {
    padding-top: 7%;
  }
}

/* menu board */
.menu-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

@media(max-width: 600px) {
  .menu-container {
    width: 100%;
  }

  .hero-image {
    width: 90%;
    height: auto;
  }
}


/* scorecard */
.scorecard-container {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.scbg {
  background-color: white;
}

@media(max-width: 600px) {
  .scorecard-container {
    flex-direction: column;
    width: 90%;
  }

  .scbg {
    padding-top: 5%;
  }
}


/* clock image */
.money-clock {
  /* border: 1px solid red; */
  padding-left: .5%;
  padding-top: 2%;
}

@media (max-width: 600px) {
  .money-clock {
    padding-top: 5%;
    padding-left: 2.5%;
  }
}

/* about */
.about-container {
  width: 27%;
  margin: 0 auto;
  height: 600px;
}

.about-list {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding-top: 2%;
}

.about-text {
  padding-top: 5%;
}

@media(max-width: 600px) {
  .about-container {
    width: 80%;
    /* border: 1px solid red; */
  }

  .about-text {
    padding-top: 10%;
  }

  .about-list {
    padding-top: 5%;
  }
}