:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

/* Contact */
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.top-contact {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 30%;
  margin: 0 auto;
}

.form-child {
  padding-top: 5%;
}

.contact-button {
  padding-top: 5%;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 600px) {
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.top-contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  margin: 0 auto;
}

.form-child {
  padding-top: 5%;
}

.contact-button {
  padding-top: 5%;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
}


/* header */
.header-container {
  height: 50px;
}

@media (max-width: 600px) {
  .header-container {
    height: 75px;
  }
}

/* TOP HEADER */
.footer-container {
  background-color: white;
  width: 100%;
  height: 38px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* align-items: center; */
  transition: transform 0.3s ease-in-out;
}
.topheader-cont {
  width: 60%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
}

.topheader-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid orange; */
  color: black;
  align-items: center;
  font-size: 14px;
  width: 85%;
}

.topheader-right {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
}

.top-icon-labels {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}

@media (max-width: 600px) {
  .footer-container {
  background-color: white;
  width: 100%;
  height: 64px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* align-items: center; */
  transition: transform 0.3s ease-in-out;
}
.topheader-cont {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
}

.topheader-left {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  /* border: 1px solid orange; */
  color: black;
  align-items: flex-start;
  font-size: 12px;
  width: 85%;
}

.topheader-right {
  width: 15%;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  height: 64px;
  align-items: center;
  /* align-content: center; */
  /* border: 1px solid red; */
}

.top-icon-labels {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}
}

.footer-child {
  /* padding-top: 5%; */
}

/* disclosures */
.disc-container {
  width: 90%;
  color: white;
  padding-top: 5%;
}

.transition-image {
  width: 50px;
  height: 20px;
}

.svg-logo {
  color: black;
}

.ptc {
  font-size: 22px;
}