:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

/* Contact */
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.top-contact {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 30%;
  margin: 0 auto;
}

.form-child {
  padding-top: 5%;
}

.contact-button {
  padding-top: 5%;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media(max-width: 600px) {
.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.top-contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  margin: 0 auto;
}

.form-child {
  padding-top: 5%;
}

.contact-button {
  padding-top: 5%;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
}


/* header */
.header-container {
  height: 50px;
}

/* Footer */
.footer-container {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-child {
  padding-top: 5%;
}

/* disclosures */
.disc-container {
  width: 90%;
  color: grey;
  padding-top: 5%;
}